version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 10
  target-branch: dependency-updates
  labels:
  - "dependencies"
  ignore:
  # Ignore all Rust backend updates, these are always done as manual pulls
  - dependency-name: io.github.david-allison-1:anki-android-backend
  # We cannot update this one until API26. Ignore range should slide with known versions so we stay informed.
  - dependency-name: org.apache.commons:commons-compress
    versions:
    - ">= 1.12, < 1.25"
