.chess_board {
  color: black;
  border:1px solid #333;
}

.chess_board td {
  background-color: #fff;
  font-family: "Chess Merida Unicode", sans-serif;
  height:30px;
  width:30px;
  font-size:22px;
  vertical-align:middle;
  text-align:center;
}

.chess_board tr:nth-child(odd) td:nth-child(even),
.chess_board tr:nth-child(even) td:nth-child(odd) {
  background-color: #b1ccff;
  -webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.4);
}

.night_mode .chess_board td {
  background-color: #777;
}
.night_mode .chess_board tr:nth-child(odd) td:nth-child(even),
.night_mode .chess_board tr:nth-child(even) td:nth-child(odd) {
  background-color: #444;
  -webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.4);
}
