#.classpath
.project
.settings

bin/
gen/
/testbin/com/ichi2/anki/AllTests.class
/testbin/com/ichi2/anki/AnkiDroidTest.class
/test/com/ichi2/anki/AllTests.java
/test/com/ichi2/anki/AnkiDroidTest.java
tools/crowdin_key.txt

.build.xml
local.properties
proguard.cfg

.idea/
out/
*.iml
