<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ichi2.anki"
      android:versionName="0.1" android:versionCode="3">
    <application android:label="@string/app_name" android:icon="@drawable/anki" android:debuggable="false">
        <activity android:name=".Ankidroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Flash Card" android:name="FlashCard"></activity>
    </application>
    <uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>