.note-editor.note-frame {
    border: 0px solid;
}
.panel {
    margin-bottom: 0px;
    border: 0px solid;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #FFFFFF;
}
.note-editor.note-frame .note-editing-area .note-codable {
    background-color: #FFFFFF;
    color: #2F2F2F;
    outline: none;
}
.night_mode_black_mode > .note-editor.note-frame.fullscreen .note-editable {
    background-color: #110D11;
    color: #FFFFFF;
}

.night_mode_dark_mode > .note-editor.note-frame.fullscreen .note-editable {
    background-color: #333333;
    color: #FFFFFF;
}

hr {
    display: block;
    height: 1.5px;
    border: 0;
    border-top: 1.5px solid #b2b2b2;
}
