.note-editor.note-frame {
    border: 0px solid;
}
.panel {
    margin-bottom: 0px;
    border: 0px solid;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #FFFFFF;
}
.note-editor.note-frame .note-editing-area .note-codable {
    background-color: #FFFFFF;
    color: #2F2F2F;
    outline: none;
}
