<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- This camera permission will be removed in the merged manifest due to node removal -->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
</manifest> 